kernel/images/* filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-pr-helper filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-storage-daemon filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-system-x86_64 filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-edid filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-ga filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-img filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-io filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/bin/qemu-nbd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/libexec/qemu-bridge-helper filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/libexec/virtfs-proxy-helper filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/applications filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/icons filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/qemu/* filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/u-boot.e500 filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/bios-256k.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/bios.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-ne2k_pci.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-virtio.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pxe-eepro100.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/qemu-nsis.bmp filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/qemu_vga.ndrv filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/multiboot_dma.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/OVMF_CODE.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/OVMF.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/QEMU,tcx.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-qxl.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-vmware.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/keymaps filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/openbios-sparc32 filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-stdvga.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-rtl8139.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/hppa-firmware.img filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/linuxboot.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/openbios-sparc64 filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/petalogix-ml605.dtb filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pxe-pcnet.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/qboot.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-virtio.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/firmware filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-bochs-display.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pvh.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-arm-code.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/multiboot.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/palcode-clipper filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/skiboot.lid filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/u-boot-sam460-20100605.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-ati.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-arm-vars.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-x86_64-secure-code.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-e1000.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/QEMU,cgthree.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/slof.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-i386-secure-code.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-e1000e.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-eepro100.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-vmxnet3.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/s390-ccw.img filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vof.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-i386-code.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-i386-vars.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/opensbi-riscv64-generic-fw_dynamic.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/petalogix-s3adsp1800.dtb filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-ramfb.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vof-nvram.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/bios-microvm.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-licenses.txt filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/efi-pcnet.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/OVMF_VARS.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pxe-virtio.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/kvmvapic.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/openbios-ppc filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pxe-e1000.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/canyonlands.dtb filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-x86_64-code.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/linuxboot_dma.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/opensbi-riscv32-generic-fw_dynamic.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pxe-rtl8139.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/s390-netboot.img filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/trace-events-all filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/bamboo.dtb filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/edk2-aarch64-code.fd filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/npcm7xx_bootrom.bin filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/pxe-ne2k_pci.rom filter=lfs diff=lfs merge=lfs -text
kernel/qemu/usr/local/share/qemu/vgabios-cirrus.bin filter=lfs diff=lfs merge=lfs -text
